{# Login form example #}

{% extends 'base.html.twig' %}

{% block title %}Connection{% endblock %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('login') }}" method="post" style='margin-bottom: 20px;'>
        <b>Local authentification:</b><br/>
        <label for="username">Username:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" /><br/>

        <label for="password">Password:</label>
        <input type="password" id="password" name="_password" /><br/>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button type="submit">login</button>
    </form>

    <div>
        <a href='{{path('shib')}}'>
            <button type="button">Access Via shibboleth</button>
        </a>
    </div>

{% endblock %}