{# Shibboleth login page example #}
{# Empty content: used only for apache/nginx and shibboleth module #}

{% extends 'base.html.twig' %}

{% block title %}Authentification Shibboleth{% endblock %}

{% block body %}
    Authentification Shibboleth

{% endblock %}
